body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200%;
    



}
h1{
    color : whitesmoke;
}

header {
    background-color: #0a18dd;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: rgb(228, 238, 166);
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

main {
    flex-grow: 1;
    padding: 1rem;
}
#container{
    box-shadow: #333;
    box-sizing: 300px;
}


    